<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
    <!-- Now modify the existing route that handles the homepage / request. Update this route to render the home.ejs template in response to a request.
👀 When you refresh your browser, it should now be rendering the <h1> with the content Home Page.

 -->
     <%- include('./partials/nav) %>
    <h1>Welcome to <%= restaurant.name %></h1>
    <p>Address: <%= restaurant.address %></p>
    <p>Phone: <%= restaurant.phone %></p>
 
</body>
</html>
